:root {
  --color-primary: hsl(37, 98%, 54%);
  --color-secondary: hsl(285, 66%, 52%);

  --color-dark: hsl(0, 0%, 14%);
  --color-light: hsl(0, 0%, 100%);

  --step--2: clamp(0.87rem, calc(0.83rem + 0.17vw), 0.96rem);
  --step--1: clamp(1.04rem, calc(0.98rem + 0.29vw), 1.2rem);
  --step-0: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.5rem);
  --step-1: clamp(1.5rem, calc(1.36rem + 0.68vw), 1.88rem);
  --step-2: clamp(1.8rem, calc(1.6rem + 0.99vw), 2.34rem);
  --step-3: clamp(2.16rem, calc(1.88rem + 1.4vw), 2.93rem);
  --step-4: clamp(2.59rem, calc(2.2rem + 1.95vw), 3.66rem);
  --step-5: clamp(3.11rem, calc(2.58rem + 2.67vw), 4.58rem);
}

/* dark theme */
:root {
  --color-background: var(--color-dark);

  --color-text: var(--color-light);
  --color-divider: var(--color-primary);

  --color-navbar: var(--color-light);
  --color-navbar-text: var(--color-dark);
}

/* light theme */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--color-dark);
    --color-divider: var(--color-secondary);

    --color-navbar: var(--color-dark);
    --color-navbar-text: var(--color-light);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
