@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200;1,400&display=swap");

body {
  font-family: "Raleway", sans-serif;
  text-rendering: optimizeLegibility;
  background: var(--color-dark);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  font-size: var(--step--1);
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 7.5rem);
  gap: 1rem;
}
.first-section h1 {
  text-align: center;
  color: var(--color-text-dark-bg);
  font-size: var(--step-4);
  font-weight: bold;
  margin-bottom: 15px;
}
.divider {
  margin-inline: auto;
  width: min(150px, 75px);
  height: max(10px, 15px);
  margin-bottom: max(7px, 14px);
  background-color: var(--color-divider-dark-bg);
  border: none;
  border-radius: 10px;
}
@media (min-width: 1025px) {
  .first-section {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 6rem;
  }
  .first-section > .first-section-article {
    min-width: 30vw;
  }
  .first-section-article > h1 {
    text-align: start;
    margin-bottom: 12px;
  }
  .divider {
    margin-inline: 0;
  }
}
