@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200;1,400&display=swap");

body {
  font-family: "Raleway", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-dark);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  font-size: var(--step--1);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
